{% load static %}
<html lang="en">
    <script src="{% static '/GenomeTag/search_form.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenomeTag</title>
</head>
<body>
    <h1>Research into the GenomeTag database</h1>
    
    <div>
        <h2> Entity Searched: </h2>
        <form>
            {% csrf_token %}
            <select name="Entity" id="res_setter"\>
                    <option value="Genome">Genome</option>
                    <option value="Chromosome">Chromosome</option>
                    <option value="Peptide">Peptide</option>
                    <option value="Annotation" selected="selected">Annotation</option>
            </select>

            <input type="submit" value="Confirm/Reset" id="setter"\>
        </form>
        
        <h2> Query: </h2>

        <form  id="search_form" method="post">
            {% csrf_token %}
            <div>Entity Searched:</div>
            <input type="text" name="result" value="result" id="result" readonly>
            <br><br>
            <br id=spacing>
            <input type="submit" value="+" id="add" name="add"\>
            <br><br>
            <input type="submit" value="Search" id="launch" name="launch" form="search_form" formaction="../result/" method="POST">
        </form>
         <br>
    </div>
</body>
</html>
