<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Exemple for user Permission{% endblock %}</title>
</head>

<body>
  <main>
    <p> Test </p>
    {% if perms.GenomeTag.view %}
    <p>You can see viewer content</p>
    {% endif %}
        {% if perms.GenomeTag.annotate %}
    <p>You can see annotator content</p>
    {% endif %}
        {% if perms.GenomeTag.review %}
    <p>You can see reviewer content</p>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>
