<!-- annotations.html -->

{% extends 'base.html' %}

<html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">
<!DOCTYPE html>

{% block content %}

<body class=" body-page">
    <div id=container class=" center-container2">

        <h4>List of all your annotations
        </h4>
        <br>
        {% if annotations %}
        {% for annotation in annotations %}
        <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div>
                <strong>Information:</strong>
                <ul>
                    <li>Author: {{ annotation.author }}</li>
                    <li>Commentary: {{ annotation.commentary }}</li>
                    <li><strong>Tags:</strong>
                        <ul>
                            {% for tag in annotation.tags.all %}
                            <li>{{ tag.text }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div >
                <a 
                    href="/GenomeTag/result/Annotation/{{annotation.accession}}"
                    >
                    <button class="btn btn-outline-primary">More Details</button>
                </a>


                {% if annotation.status == 'u' %}
                <a 
                href="../create/modify_annotation/{{annotation.accession}}">Modify</a> <button type="button" class="btn btn-warning disabled">Unreviewed</button>
                
                {% elif annotation.status == 'r' %}
              <a href="../review/{{annotation.accession}}">See Review</a>|<a href="../create/modify_annotation/{{annotation.accession}}">Modify</a><button type="button" class="btn btn-danger disabled">Rejected</button>
                {%else%}
              <a href="../review/{{annotation.accession}}">See Review</a>|<a href="../create/modify_annotation/{{annotation.accession}}">Modify</a><button type="button" class="btn btn-success disabled">Validated</button>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
        {% else %}
        <div>
            There are no annotations in the database.
        </div>
        {% endif %}
    </div>
    {% endblock %}
</body>

</html>