{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="center-container2">
  <h1>Blast Page</h1>
  <form method="post">
    {% csrf_token %}
    <label for="blast_type">Blast Type:</label>
    <select id="blast_type" name="blast_type">
      <option value="blastn">blastn</option>
      <option value="blastp">blastp</option>
      <option value="blastx">blastx</option>
      <option value="tblastn">tblastn</option>
    </select><br><br>
    <label for="database">Database :</label>
    <select id="database" name="database">
      <option value="nr">nr</option>
      {% if type == "peptide" %}
      <option value="pdb">pdb</option>
      <option value="swissprot">swissprot</option>
      <option value="landmark">landmark</option>
      {% endif %}
    </select><br><br>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
