<!-- create.html -->

{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 style="margin:0;">GenomeTag</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'GenomeTag:main' %}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenomeTag:annotations' %}">Annotations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenomeTag:create' %}">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenomeTag:search' %}">Search</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Attributions</title>
</head>
<body>
    <h1>Your attributions</h1>
    <ul>
        {% for attribution, is_annotated, annotation_list in attribution_zip %}
            <li>
                <strong>Annotator:</strong> {{ attribution.annotator.username }}<br>
                <strong>Information:</strong>
                    <ul>
                        <li>Start: {{ attribution.possition.start }},</li>
                        <li>End: {{ attribution.possition.end }},</li>
                        <li>Strand: {{ attribution.possition.strand }},</li>
                        <li>Chromosome: {{ attribution.possition.chromosome.accession_number }}<br></li>
                    </ul>
                <strong>Requester:</strong> {{ attribution.requester.username }}<br>
                {% if is_annotated == 1 %}
                    {% for annotation in annotation_list %}
                        <textarea>{{ annotation.commentary }}</textarea>
                        <ul>
                            {% for tag in annotation.tags.all %}
                                <li>{{ tag.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    <a href="{% url 'GenomeTag:create_annotation' attribution.id %}"><button>Modify</button></a>
                    <a href="{% url 'GenomeTag:delete_annotation' attribution.id %}"><button>Delete</button></a>
                {% else %}
                    <a href="{% url 'GenomeTag:create_annotation' attribution.id %}"><button>View Attribution</button></a>
                {% endif %}            
            </li>
            <hr>
        {% empty %}
            <li>You currently have no attributions.</li>
        {% endfor %}
    </ul>    
</body>
</html>
