<!-- create.html -->

{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 style="margin:0;">GenomeTag</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'GenomeTag:main' %}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenomeTag:annotations' %}">Annotations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenomeTag:create' %}">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GenomeTag:search' %}">Search</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a href="{% url 'logout' %}"
                        onclick="event.preventDefault(); this.closest('form').submit();">Logout</a>
                </form>


                {% else %}
                <a href="{% url 'login' %}" id="login-link">Login</a>
                <span class="mx-2">/</span>
                <a href="{% url 'GenomeTag:signup' %}" id="signup-link">Sign up</a>
                {% endif %}
            </div>
        </div>
    </nav>
</head>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attributions</title>
</head>

<body class=" body-page">
    <div id=container class=" center-container2">

        <h4>Here, you can see what part attributions you have. Your job is to annotate these
            positions the best you can. Once submitted, these annotations will be reviewed and approved or not based on
            the reviewers' appreciations.</h4>
        <br>
        {% for attribution, is_annotated, annotation_list in attribution_zip %}
        <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div>
                <strong>Information:</strong>
                <ul>
                    <li>Specie: {{ attribution.possition.chromosome.genome.species }}</li>
                    <li>Genome: {{ attribution.possition.chromosome.genome.id }}</li>
                    <li>Position to annotate: [{{ attribution.possition.start }};{{ attribution.possition.end }}]
                    </li>
                    <li>Chromosome: {{ attribution.possition.chromosome.accession_number }}</li>
                    <li>Strand: {{ attribution.possition.strand }}<br></li>
                </ul>
                <strong>Requester: </strong> {{ attribution.requester.username }}<br>
            </div>
            <div>
                {% if is_annotated == 1 %}
                {% for annotation in annotation_list %}
                <strong>Annotation:</strong>
                <ul>
                    <textarea class="textarea.form-control" style="margin: 5px;" readonly>{{ annotation.commentary }}</textarea>
                </ul>
                <strong>Tags:</strong>
                <ul>
                    {% for tag in annotation.tags.all %}
                    <li>{{ tag.text }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
                <a href="{% url 'GenomeTag:create_annotation' attribution.id %}"><button
                        class="btn btn-outline-primary">Modify
                        annotation</button></a>
                <a href="{% url 'GenomeTag:delete_annotation' attribution.id %}"><button
                        class="btn btn-outline-primary">Delete
                        annotation</button></a>
                {% else %}
                <a href="{% url 'GenomeTag:create_annotation' attribution.id %}"><button
                        class="btn btn-outline-primary">Start
                        annotating</button></a>
                {% endif %}
            </div>
        </div>

        <hr>
        {% empty %}
        <li>You currently have no attributions.</li>
        {% endfor %}
    </div>
</body>

</html>