{% extends 'base.html' %}

<html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">
<!DOCTYPE html>

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{{ data|json_script:'mydata' }}



<body class=" body-page">

    <div id=container class=" center-container2">
        <h1>Research into the GenomeTag database</h1>
        <div>

            <h2>Entity Searched:</h2>
            <form id="search_form" method="post">
                {% load crispy_forms_tags %}
                <div id="result_type"></div>
                {% csrf_token %}
                {{form |crispy}}
                <button class="btn btn-outline-primary" type="submit" id="setter">Confirm/Reset</button>
                <h2> Query: </h2>
                <div id="selected_entity"></div>

                <div id="media"></div>
                <br id=spacing>
                <button class="btn btn-outline-primary" type="submit" value="+" id="add" name="add" \> + </button>
                <br><br>
                <button class="btn btn-outline-primary" type="submit" id="launch" name="launch" form="search_form"
                    formaction="../result/" method="POST">SEARCH</button>

                <!-- To display the entity-->
                <script>
                    document.getElementById('setter').addEventListener('click', function () {
                        var resultType = document.getElementById('result');
                        var selectedEntity = document.getElementById('selected_entity');
                        var result_type = document.getElementsByName('result_type')[0];
                        var result = result_type.value;

                    });
                </script>
                <!-- To use entity in js form-->
                <script>
                    var resultType = document.getElementById('result');
                    var selectedEntity = document.getElementById('selected_entity');
                    var result_type = document.getElementsByName('result_type')[0];
                    var result = result_type.value;
                    selectedEntity.innerHTML = "Entity Searched: " + result_type.options[result_type.selectedIndex].value;
                </script>
            </form>

            <br>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 GenomeTag. All rights reserved. Made by the BEST TEAM ! </p>

    </footer>
    <script src="{% static '/GenomeTag/search_form.js' %}"></script>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>

<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">