{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <a href="{% url 'logout' %}" onclick="event.preventDefault(); this.closest('form').submit();">Logout</a>
</form>

</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'GenomeTag:signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
