<!-- genome_detail.html -->


{% extends 'base.html' %}

<html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">
<!DOCTYPE html>
{% block content %}

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genome Detail</title>
</head>
<body class="body-page">
    <div class="center-container2">
    <h1>Genome Detail</h1>
    <h2>{{ genome.id }}</h2>

    <p>{{ genome.commentary}}</p>
    <p>{{ genome.species}}</p>
    <p>DOI: {{ genome.DOI}}</p>
  
    <h2>Chromosome:</h2>
    <ul>

      <table class="table table-active">
        <thead>
          <tr>
            <th scope="col">Accession number</th>
            <th scope="col">End</th>
            <th scope="col">Start</th>
            <th scope="col">Fasta</th>
          </tr>
        </thead>
        <tbody>
        {% for cr in chromosome %}
              <tr class ="table table-light">
                <th scope="row"><a href="./{{cr.accession_number}}">{{ cr.accession_number}} </a></th>
                <td>{{cr.start}}</td>
                <td>{{cr.end}}</td>
                <td><a href="{% url 'GenomeTag:download_fasta' genome.id %}" download="genome.fasta">FASTA</a></td>
              </tr>
              </tbody>
              </table> 
        {% endfor %}
    </div>
    </ul>
    {% endblock %}
</body>
</html>