<!-- genome_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Annotation Detail</title>
</head>
<body>
    <h1>Annotation: {{ annotation.accession}} ( made by: {{annotation.author}})</h1>
    <p>{{annotation.commentary}}</p>
    <h2>Localisation</h2>

    <ul>
        {% for pos in annotation.position.all %}
        <p><a href="../../Genome/{{pos.chromosome.genome.id}}/{{pos.chromosome.accession_number}}">{{ pos.chromosome.accession_number}}</a> {{ pos.start}}({{pos.start_relative}}) -> {{ pos.end}}({{pos.end_relative}})</p>
        {% endfor %}
    </ul>
    <h2>List of Tags</h2>
    <ul>
        {% for tag in annotation.tags.all %}
        <p><a href="../../Tag/{{tag.tag_id}}">{{tag.tag_id}}</a></p>
        {% endfor %}
    </ul>
    <h2>Linked Peptide</h2>
    <ul>
        {% for pep in peptide %}
        <p><a href="../../Peptide/{{pep.accesion}}">{{pep.accesion}}</a></p>
        {% endfor %}
    </ul>
</body>
</html>