<!-- genome_detail.html -->


{% extends 'base.html' %}

<html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">
<!DOCTYPE html>
{% block content %}

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genome Detail</title>
</head>

<body class="body-page">
  <div class="center-container2">
    <h1>Genome Detail</h1>
    <h2>{{ genome.id }} ({%if genome.annotable %}Annotable{% else %} Non Annotable {%endif%})</h2>

    <p>{{ genome.commentary}}</p>
    <p>{{ genome.species}}</p>
    {% if genome.DOI%}
    <p>DOI: {{ genome.DOI}}</p>
    {%endif%}

    <h2>Chromosome:</h2>
    <form method="post" action="{% url 'GenomeTag:download_fasta' genome.id %}">
      {% csrf_token %}
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="submit" class="btn btn-primary">DOWNLOAD ALL</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle show"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
          <div class="dropdown-menu " aria-labelledby="btnGroupDrop1"
            style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);"
            data-popper-placement="bottom-start">
            <a class="dropdown-item"><label><input type="checkbox" name="include_accession_number" checked> Include
                Accession Number</label></a>
            <a class="dropdown-item"><label><input type="checkbox" name="include_genome" checked> Include
                Genome</label></a>
            <a class="dropdown-item"><label><input type="checkbox" name="include_sequence" checked> Include
                Sequence</label></a>
            <a class="dropdown-item"><label><input type="checkbox" name="include_start" checked> Include
                Start</label></a>
            <a class="dropdown-item"><label><input type="checkbox" name="include_end" checked> Include End</label></a>
          </div>
        </div>
      </div>
    </form>
    <br>
    <ul>

      <table class="table table-active">
        <thead>
          <tr>
            <th scope="col">Accession number</th>
            <th scope="col">End</th>
            <th scope="col">Start</th>
            <th scope="col">Fasta</th>
          </tr>
        </thead>
        <tbody>
          {% for cr in chromosome %}
          <tr class="table table-light">
            <th scope="row"><a href="./{{cr.accession_number}}">{{ cr.accession_number}} </a></th>
            <td>{{cr.start}}</td>
            <td>{{cr.end}}</td>
            <td>
              <form method="post"
                action="{% url 'GenomeTag:download_fasta_single_chromosome' genome.id cr.accession_number %}">
                {% csrf_token %}
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="submit" class="btn btn-primary">FASTA</button>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle show"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <div class="dropdown-menu " aria-labelledby="btnGroupDrop1"
                      style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);"
                      data-popper-placement="bottom-start">
                      <a class="dropdown-item"><label><input type="checkbox" name="include_accession_number" checked>
                          Include Accession Number</label></a>
                      <a class="dropdown-item"><label><input type="checkbox" name="include_genome" checked> Include
                          Genome</label></a>
                      <a class="dropdown-item"><label><input type="checkbox" name="include_sequence" checked> Include
                          Sequence</label></a>
                      <a class="dropdown-item"><label><input type="checkbox" name="include_start" checked> Include
                          Start</label></a>
                      <a class="dropdown-item"><label><input type="checkbox" name="include_end" checked> Include
                          End</label></a>
                    </div>
                  </div>
                </div>
              </form>
            </td>

          </tr>
        </tbody>
      </table>
      {% endfor %}
  </div>
  </ul>
  {% endblock %}
</body>

</html>
