<!-- genome_detail.html -->
{% extends 'base.html' %}

<html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'GenomeTag/style.css' %}">

<!DOCTYPE html>
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>Annotation Detail</title>
</head>

<body>
    <div class="center-container2">
    <h1>Annotation: {{ annotation.accession}} ( made by: {{annotation.author}})
        {% if annotation.status == 'u' %}
        <button type="button" class="btn btn-warning disabled">Status: Unreviewed</button>
        {% elif annotation.status == 'r' %}
        <button type="button" class="btn btn-danger disabled">Status: Rejected</button>
        {%else%}
        <button type="button" class="btn btn-success disabled">Status: Validated</button>
        {% endif %}
        </h1>
    
    <p>{{annotation.commentary}}</p>
    <h2>Localisation</h2>

    <ul>
      {% for pos in annotation.position.all %}
      <p><a href="../../Genome/{{pos.chromosome.genome.id}}/{{pos.chromosome.accession_number}}">{{
          pos.chromosome.accession_number}}</a> {{ pos.start}}({{pos.start_relative}}) -> {{
        pos.end}}({{pos.end_relative}})</p>
      {% endfor %}
    </ul>
    {% if annotation.tags.all %}
    <h2>List of Tags</h2>
    <ul>
      {% for tag in annotation.tags.all %}
      <p><a href="../../Tag/{{tag.tag_id}}">{{tag.tag_id}}</a></p>
      {% endfor %}
    </ul>
    {% endif %}

    <h2>Linked Peptide</h2>
    <ul>
      {% for pep in peptide %}
      <p><a href="../../Peptide/{{pep.accesion}}">{{pep.accesion}}</a></p>
      {% endfor %}
    </ul>

    <h2>Blast</h2>
      <p><a href="{% url 'GenomeTag:blast' %}?annotation_id={{ annotation.id }}&type=annotation">Blast this annotation</a></p>

  </div>
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
