<!-- genome_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Peptide Detail</title>
</head>
<body>
    <h1>Peptide: {{ peptide.accesion}}</h1>
    <p>{{peptide.commentary}}</p>
    <h2>Sequence:</h2>
    <p>{{peptide.sequence}}</p>
    <h2>List of Tags</h2>
    <ul>
        {% for tag in peptide.tags.all %}
        <p><a href="../../Tag/{{tag.tag_id}}">{{tag.tag_id}}</a></p>
        {% endfor %}
    </ul>
    <h2>Linked Annotation</h2>
    <ul>
        {% for annot in peptide.annotation.all %}
        <p><a href="../../Annotation/{{annot.accession}}">{{annot.accession}}</a></p>
        {% endfor %}
    </ul>
</body>
</html>